<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <div class="jumbotron">
        <h1>
          AGORA
          <h3>-So, what happened?</h3>
        </h1>
      </div>
    </div>
  </body>
</html>
